*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    font-size:14px;
    line-height: 1;
}
body{
    width: 100vw;
    height: 100vh;
}
.box{
    display: flex;
    align-items: flex-end;
    width: 20%;
    height: 100%;
    padding: 0 30px;
}
#search{
    width: 50px;
    height: 50px;
    transition: width 0.5s;
}

#search:focus{
    width: 100%;
    border: 3px solid black;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
header{
    margin: 20x;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    background-color: aqua;
    padding: 10px 30px;
    /* opacity: 0.5; */
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:200px;
    width: 90%;
    border-radius: 10px;
    justify-content: space-around;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border: 2px solid red;
    border-radius: 5px;
    width: 25%;
    height: 100px;
    color: blue;
}
#logo h1{
    font-size:35px;
    color:rgb(255, 255, 255)
    
}
nav{
    width: 50%;
}

#menu ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
#menu ul li{
    display:flex;
    background:darkgreen;
    padding:5px 10px;
    border-radius: 2px;
    width: 100px;
    text-align: center;
    color:black;
    transition: 100ms ease-in-out;
    list-style: none;
}

#menu ul li a{
    text-decoration: none;
    color:rgb(1, 27, 21);
    font-weight: bolder;
    font-size: 18px !important;
    letter-spacing: 2px;
    transition: 0.5s;
}
#menu ul li:hover{
    background: linear-gradient(to bottom right, rgb(3, 141, 76),rgb(1, 27, 21)); 
    transform: translate(0px,2px);
}

.dropbtn {
    background-color: darkgreen;
    color: black;
    padding:15px;
    font-size: 16px;
    font-weight: bolder;
    width: 100px;
    text-align: center;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    font-weight: bolder;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;   
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background: linear-gradient(to bottom right, rgb(3, 141, 76),rgb(1, 27, 21)); 
    transform: translate(0px,2px);

}

#slider-container{
    margin:50px;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
}
#slider{
    display: flex;
    width: 600px;
    height: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}


#control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 650px;
    width: 600px;
}

#control a{
    text-decoration: none;
    color: white;
    background-color: cadetblue;
    padding:0px 10px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    opacity: 0.6;
}

.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 200px 200px 100px;
    grid-template-areas: "image" "text" "stats";

    width: 350px;
    position: relative;
    margin-top: 30px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 18px ;
    background:white;
    box-shadow: 5px 5px rgba(0,0,0,0.9);
    text-align: center;
}
.card-image{
    grid-area:image;
    background:url("https://i.stack.imgur.com/NEuip.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text{
    grid-area: text;
    margin: 25px;
}
.card-text .date{
   color: crimson;
    font-size: 13px;
}
.card-text p{
    color: grey;
    font-size: 15px;
}
.card-text h2{
    margin-top: 0px;

}
.card-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: purple;
}
.card-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    color: white;
}
.card-text .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}
.card-text .value{
    font-size: 22px;
    font-weight: 500;
}


.main-popup{
    background-color: black;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    
    display: none;

}

.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;  
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 150px;
    position: relative;
    border-radius: 15px;
    border: 3px solid red;
}
.close-popup{
    border-radius: 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: white;
    position: absolute;
    top:8px;
    right: 8px;
    background-color: brown;
    
}

.content-popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup a{
    text-decoration: none;
    background-color: brown;
    color:white;
    padding: 5px 10px;
    font-size:24px;
}


