* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-content ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border: 1px solid #e3e3e3;
    border-radius: 2px solid black;
}

    .nav-content ul li {
        border-right: 1px solid #e3e3e3;
        border-radius: 2px solid black;
        display: flex;
    }

        .nav-content ul li a {
            text-decoration: none;
            color: black;
            font-weight: 600;
            padding: 5px;
        }

            .nav-content ul li a:hover {
                background-color: black;
                color: white;
            }

.nav-link:hover {
    background-color: red;
}

.activeLink {
    background-color: red;
}

.menu-label {
    background-color: rgba(0, 0, 0, 0.888);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    justify-content: center;
}

.expedition {
    background-color: rgba(0, 0, 0, 0.888);
    max-width: 1116px;
    margin-left: 1px;
}

#menu-btn {
    display: none;
}

@media (max-width:767px) {
    .nav-content ul li {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-footer ul {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav-content ul li a {
        padding: 6px 15px;
    }

    .nav-content ul li {
        justify-content: center;
    }

    .nav-content {
        display: none;
    }

    #menu-btn-div {
        display: flex;
        justify-content: center;
    }

    #menu-btn {
        display: initial;
    }
}

#menu-btn:checked ~ .nav-content {
    display: block;
}

#menu-btn {
    display: none;
}


@media (min-width:767px) {
    .nav-content {
        display: block !important;
    }

    .main-footer {
        display: block !important;
    }

    label {
        display: none;
    }
}

.footer-text {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

    .footer-text p {
        color: white;
    }

.footer-widget {
    margin-top: 30px;
    background-color: #000;
    padding: 40px 40px 16px;
    border-bottom: 1px solid #e3e3e3;
}

    .footer-widget ul li a:hover {
        background-color: red;
    }

.img-list {
    width: 190px
}

    .img-list ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #999999;
        width: 36px;
        height: 36px;
        margin: 7px;
        border-radius: 5px;
    }

.widget-1 ul li a {
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    color: white;
}

.contact-left {
    background-color: aliceblue;
}

    .contact-left h2 {
        text-align: center;
    }

.contact-right {
    background-color: aliceblue;
}

    .contact-right h2 {
        text-align: center;
    }

    .contact-right input {
        width: 100%;
    }

.main-popup {
    z-index: 2;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    display: none;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 150px;
    position: relative;
    border-radius: 15px;
    border: 3px solid red;
}

.close-popup {
    border-radius: 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: white;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: brown;
}

.content-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup a {
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 5px 10px;
    font-size: 24px;
}
