*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu{
    margin: 30px 50px 50px 50px ;
    width: 1400px;
    align-items: center;
    
}
.topMenu, .downMenu{
    margin-bottom: -15px;
    width: 1400px;
}
.topMenu ul, .downMenu ul {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    list-style-type: none;
    border: 1px solid black;
    width: 1400px;
}
.topMenu #ustMenu, .downMenu #altMenu{
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: bolder;
    line-height: 50px;
    width: 50px;
    height: 50px;
}
.topMenu ul li, .downMenu ul li{
    text-align: center;
    margin: 0;
    width: 200px;
    height: 50px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.topMenu ul li:hover, .downMenu ul li:hover{
    background-color: black;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.topMenu #ustMenu:hover , .downMenu #altMenu:hover{
    color: white;
}

#slide-content{
    /* position: relative; */
    /* justify-content: center !important; */
    margin-top: 15px;
    margin-left: 50px;
    width: 800px;
    height: 300px;
}

#card-content{
    margin-left: 50px;
    margin-right: 555px;
    margin-top:200px;
    font-size: large;
}
#card-content img{
    width:370px ;
}

#card-content a:hover, #side-line-content a:hover{
    color: rgb(255, 196, 0);
}

#card-baslik, #righ-side-baslik{
    background-color: gray;
    text-align: center;
    opacity: 0.8;
    
}

#card-content a, #side-line-content a{
    text-decoration: none;
}
#surdurulebilirlik{
    margin-left: 50px;
    margin-right: 555px;
    margin-top: 30px;
}
#surdurulebilirlik-header{
    background-color: gray;
    text-align: center;
    opacity: 0.8;
}
#surdurulebilirlik-card, #dikeneTakilanlar-card{
    height: 250px;
    width: 800px;
}
#surdurulebilirlik-card img, #dikeneTakilanlar-card img{
    height: 200px;
}
#dikeneTakilanlar-header{
    background-color: gray;
    text-align: center;
    opacity: 0.8;
}

#topFooter{
    width: 1400px;
    height: 300px;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    border-bottom: 1px solid white;
}
#topFooter ul{
    margin: 20px;
    text-decoration: none;
    list-style-type: none;
}
#topFooter ul a{
    text-decoration: none;
    list-style-type: none;
    color: white;

}
#topFooter ul a:hover{
    color: rgb(255, 196, 0);

}
#downFooter{
    width: 1400px;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 50px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top:35px ;
}

#topFooter-icons i{
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
}


#right-side img{
    width:410px ;

}
#righ-side-baslik{
    width: 430px;
}
#side-line-content{
    margin-left: 50px;
    margin-right: 555px;
    font-size: large;
}
section a{
    color: black;
}
section{
    display: flex;
    flex-direction: row;
}

#side-line-content{
    justify-content: left;
    margin-left: -400px;
}
#side-line-content{
    width: 410px;
}
#left-side{
    justify-content: space-around;
    margin-left: 10px;
    color: black;
}
#left-side p{
    color: black;
}
#gununOnbiri .card-title{
    background-color: gray;
    width: 410px;
    text-align: center;
}