<header>
    <img src="~/img/sky1.jpg" alt="Alternate Text" class="w-100" style="height:100px;" />

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

        <div class="container">
            <img src="~/img/bluebuslogo1.jpg" alt="Alternate Text" />
            <a class="navbar-brand font-italic" asp-area="" asp-controller="Home" asp-action="Index">BLUE BUS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Direction" asp-action="List">Direction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="AdminList">Admin List</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                    @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Ticket" asp-action="TicketDetails">Ticket</a>
        </li>*@
                </ul>
                <div>
                    <ul class="navbar-nav flex-grow-1">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a href="/account/login" class="nav-link text-dark">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="/account/register" class="nav-link text-dark">Register</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="/account/manage" class="nav-link text-dark">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a href="/account/logout" class="nav-link text-dark">Logout</a>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>