<div class="menu width-100">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/bluebuslogo1.jpg" alt="" />
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <div id="menu-btn-div">
                        <label for="menu-btn" class="menu-label">MENU</label>
                    </div>
                    <input id="menu-btn" type="checkbox" />
                    <div class="nav-content bg-white">
                        <ul class="d-flex mb-0">
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Expeditions</a></li>
                            <li><a href="">City Services</a></li>
                            <li><a href="">Our Branches</a></li>
                            <li><a href="">Online Reservation</a></li>
                            <li><a href="">Ticket Inquiry</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                </ul>
                <form class="d-flex">
                    <button type="button" class=" UserLogin btn btn-lg btn-warning" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?"><i class="fa-solid fa-user" style="color: black; text-decoration: none;"></i>User Login</button>
                    <div class="main-popup">
                        <div class="popup">
                            <div class="close-popup">X</div>
                            <div class="content-popup">
                                <h3>Wissen Akademie</h3>
                                <p>Yeni kurslarımız açılıyor!</p>
                                <a href="https://www.wissenakademie.com">Bilgi için tıklayın!</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>